@font-face {
  font-family: 'FuturaCyrillic';
  src: url('./fonts/FuturaCyrillicBook.woff2') format('woff2');
  font-weight: 400;
  /* Regular / Book */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaCyrillic';
  src: url('./fonts/FuturaCyrillicMedium.woff2') format('woff2');
  font-weight: 500;
  /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaCyrillic';
  src: url('./fonts/FuturaCyrillic-Bold.woff2') format('woff2');
  font-weight: 700;
  /* Bold */
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'FuturaCyrillic';
  font-weight: 400;
  display: flex;
  flex-direction: column;
  background-image: url(./images/mainbg.png);
  background-size: cover;
}

main {
  flex-grow: 1;
 

}

a {
  text-decoration: none;
  display: inline-block;
}

ol,
ul {
  list-style: none;
}

.container {
  max-width: 1350px;
  padding: 0 20px;
  margin: 0 auto;
}

.site__black--button {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.51px;
  text-align: center;
  border-radius: 3px;
  border: none;

}

.site__black--button:hover {
  background-color: #FFBD54;
  color: #333;

}

.site__black--button:active {
  opacity: 60%;
  background-color: #FFBD54;
  color: #333;

}

.site__orange--button {
  background-color: #FFBD54;
  color: #fff;
  padding: 20px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.51px;
  text-align: left;
}

.site__orange--button:hover {
  background-color: #333;
  color: #FFBD54;
}

.site__orange--button:active {
  background-color: #333;
  color: #FFBD54;
  opacity: 60%;
}



/* Header start */

.header__top {
  background-color: #F9F8F8;
  padding: 13px 0;

}

.header__contact-lists {
  display: flex;
  justify-content: flex-end;
  column-gap: 120px;
  flex-direction: row;

}

.header__container {
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 20px;
  left: -10px;

}

.header__contact-list {
  display: flex;
  gap: 9px;
  list-style: none;
  align-items: center;
}

.header__contact__list__tel {
  display: flex;
  flex-direction: row;

}

.header__item {
  display: flex;
  flex-direction: row;

}

.header__item-link {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.95px;
  display: flex;
  align-items: center;
}

.header__item--address::before {
  display: inline-block;
  content: '';
  background-image: url(./images/home.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.header__item-link--tel::before {
  display: inline-block;
  content: '';
  background-image: url(./images/tel.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.header__item-link--dot::before {
  display: inline-block;
  content: '';
  width: 4px;
  height: 4px;
  background-color: #FFBD54;
  margin-right: 9px;
  border-radius: 50%;
}

.header__item-link--work-time::before {
  display: inline-block;
  content: '';
  background-image: url(./images/schedule.svg);
  width: 14px;
  height: 14px;
  margin-right: 9px;
}

.header__item-link:hover {
  color: #FFBD54;
}

.header__item-link:active {
  opacity: 60%;
  color: #333;
}



.header__bottom {
  padding: 20px 0;
}

.nav__list {
  display: flex;
  column-gap: 55px;
  justify-content: center;
  position: relative;
}

.nav__link {
  position: absolute;
  right: 0;
  color: #333;
}

.nav__link::before {
  content: '';
  display: inline-block;
  background-image: url(./images/pet.svg);
  width: 23px;
  height: 20px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.nav__item-link {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.51px;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
}

.nav__item-link:hover::before {
  display: inline-block;
  content: '';
  background-image: url(./images/active.svg);
  width: 14.75px;
  height: 14.75px;
  position: absolute;
  left: -30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.nav__item-link:hover {
  text-decoration: underline 2px #FFBD54;
}

.nav__item:active {
  opacity: 60%;
}

/* Header End */


/* Hero Start */


.hero {
  padding-bottom: 145px;
  background-image: url(./images/herofirst.png), url(./images/parrot.png);
  background-position: calc(50% - 563px) calc(50% - 150px), calc(50% + 700px) calc(50% + 130px);
  background-repeat: no-repeat;

}

.hero__wrapper {
  display: flex;
  padding: 145px;
  justify-content: flex-end;
}

.hero__info {
  width: 608px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-right:-137px
}

.hero__title {
  font-size: 70px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.hero__title--change {
  color: #78C0DE;
}

.hero__text {
  width: 495px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.hero__button {
  width: 180px;
  padding: 15px 0;
}

/* Hero end */


/* Afarizm Start */


.afarizm {
  padding-bottom: 190px;
}

.afarizm__box {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  text-align: center;
  align-items: center;
}

.afarizm__box::before {
  content: "";
  display: inline-block;
  background-image: url(./images/afarizmfirst.svg);
  width: 80px;
  height: 50px;
  z-index: 1;
  position: absolute;
  top: -50px;
  left: 150px;
  background-repeat: no-repeat;
  background-size: contain;

}

.afarizm__box::after {
  content: "";
  display: inline-block;
  background-image: url(./images/afarizmsecond.svg);
  width: 80px;
  height: 50px;
  z-index: 1;
  position: absolute;
  bottom: 50px;
  right: 150px;
  background-repeat: no-repeat;
  background-size: contain;

}

.afarizm__quote {
  text-align: center;
  text-wrap: wrap;
  width: 753px;

  font-size: 20px;
  font-weight: 400;
  line-height: 25.64px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.afarizm__quote::before {
  position: absolute;
  content: '';
  display: inline-block;
  height: 2px;
  width: 140px;
  background-color: #DBDBDB;
  top: -50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.afarizm__quote::after {
  position: absolute;
  content: '';
  display: inline-block;
  height: 2px;
  width: 140px;
  background-color: #DBDBDB;
  bottom: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.afarizm__cite {
  font-size: 20px;
  font-weight: 500;
  line-height: 25.64px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}


/* Afarizm End */

/* Services Start */
.services {
 margin-bottom: 227px;
}

.services__title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 20px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 80px;
}

.services__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
  border: 1px solid #E4E4E2
}

.services__item {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  padding: 36px 0;
  align-items: center;
  background-color: #fff;
  width: 195px;
}

.services__item-link {
  width: 126px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #333;
}

.services__left-box {
  position: absolute;
  top: 95px;
  left: -50px;
  align-items: center;
  padding: 10px;
  margin-right: 30px;
}

.services__left-box:hover {
  background-color: #fff;
}

.services__left-box:active {
  background-color: #fff;
  opacity: 60%;
}

.services__right-box {
  position: absolute;
  top: 95px;
  align-items: center;
  right: -50px;
  padding: 10px;
  margin-left: 50px;
}

.services__right-box:hover {
  background-color: #fff;
}

.services__right-box:active {
  background-color: #fff;
  opacity: 60%;
}

.services__item:hover {
  opacity: 80%;
}

.services__item:active {
  opacity: 60%;
}

.services__wrapper {
  padding: 35px 42px;
  background-color: #fff;
  display: flex;
  column-gap: 67px;

}

.intro__infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.intro__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #333;
  margin-bottom: 18px;
}

.intro__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #949494;
  margin-bottom: 9px;
  width: 492px;
}

.intro__btns {
  display: flex;
  column-gap: 21px;
  margin-top: 25px;
}

.intro__price-btn {
  display: flex;
  align-items: center;
  column-gap: 6px;
  padding: 20px;
}

.intro__book-btn {
  display: flex;
  align-items: center;
  column-gap: 6px;
  padding: 20px;
}

/* Services End */





/* News Start */





.news__title {

  font-size: 48px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  
}


.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(./images/dogbg.png);
  background-size:1520px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 175px;
  position: relative;
}

.news__box {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: flex-start;
  margin-right: 222px;
}

.news__form {
  display: flex;
  
  gap: 10px;
  flex-wrap: wrap;
}

.news__input {
  padding: 16px;
  font-size: 16px;
  width: 300px;
  border: none;
  border-radius: 5px;

}

.news__submit {
  padding: 16px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 181px;


}

/* News End */




/*  Hash Start */

.hash{
  margin-top: 200px;
  margin-bottom: 262px;
}

.hash__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 80px;
}

.hash__list {
  display: flex;
  column-gap: 25px;
}

.doggie__info {
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 305px;
  border: 1px solid #E4E4E2
}

.doggie__time {
  text-align: right;
  margin-bottom: 5px;

  font-size: 14px;
  font-weight: 500;
  line-height: 17.95px;
  color: #949494;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.doggie__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 182px;
  margin-bottom: 10px;
}

.doggie__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 34px;
  color: #949494;
  
}

.doggie__link {
  display: flex;
  align-items: center;
}

.doggie__link::before {

  content: '';
  display: inline-block;
  background-image: url(./images/pet.svg);
  width: 23px;
  height: 20px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;

}
.doggie__link:hover{
  color: #FFBD54;
}
.doggie__link:active{
  color: #333;
  opacity: 60%;
}
.doggie__item-open{
 display: flex;
 flex-direction: row;
 border: 1px solid #E4E4E2
}
.open__info{
  display: flex;
  flex-direction:column;
  width:332px;
  padding: 42px 31px;
}
.open__list{
  display: flex;
  gap: 5px;
 color: #3D9CEA;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

margin-bottom:35px ;
}
.open__title{
font-size: 26px;
font-weight: 700;
line-height: 29px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-bottom: 15px;
}
.open__text{
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #949494;
margin-bottom: 33px;
}
.open__time{
 text-align: left;
  color:#949494;
}
   


/* Hash End */



/* Reg Start */

.reg{
  width: 1510px;
  margin: 0 auto;
  margin-bottom: 247px;
}
.reg__wrapper{
  display: flex;
  flex-direction: row;

}
.reg__info{
  background-image: url(./images/feedback-bg.png);
  background-position: calc(50% + 80px);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #333;
  padding-right: 477px;
  padding-left: 150px;
  padding-bottom: 74px ;
  padding-top: 50px;
}
.reg__form{
  display: flex;
  flex-direction: column;
 row-gap:14px;
}
.reg__title{
font-size: 48px;
font-weight: 700;
line-height: 61.54px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #fff;
}
.reg__text{
color: #949494;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.reg__input{
  padding: 16px;
}
#reg__area{
  padding:17px;
  margin-bottom: 25px;
}


/* Reg End */




/* Footer Start */



footer{
  background-color:#f3f3f3;
  border: 1px solid #EBEBEB
}
.footer__wrapper{
  display: flex;
  padding: 54px 0;
  column-gap:60px;
  align-items: flex-start;
 
}
.foot__logo-box{
 
}
.foot__nav-lists{
  display: flex;
  column-gap:87px;
}
.foot__nav-list{
  display: flex;
  flex-direction:column;
  row-gap:14px;
  
}

.footer__contact-list--work-time{
  display: flex;
 flex-direction: column;
 justify-content: center;
}
.footer__item--address{
  display: flex;
  
}
.foot__nav-link{
  color: #333;
font-size: 16px;
font-weight: 500;
line-height: 20.51px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.foot__nav-link:hover{
color: #FFBD54;
}
.foot__nav-link:active{
color: #333;
opacity: 60%;
}
.footer__item{
  display: flex;
  justify-content: flex-end;
}
.footer__item-link{
  color: #333;
  
}
.footer__item--address{
  display: flex;
  align-items: center;
  width: 172px;
}
.footer__item--address::before {
  display: inline-block;
  content: '';
  background-image: url(./images/home.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.footer__item-link--tel::before {
  display: inline-block;
  content: '';
  background-image: url(./images/tel.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 13px;
  height: 13px;
  margin-right: 9px;
}
.footer__item-link--dot::before {
  display: inline-block;
  content: '';
  width: 4px;
  height: 4px;
  background-color: #FFBD54;
  margin-right: 9px;
  border-radius: 50%;
}

.footer__item-link--work-time::before {
  display: inline-block;
  content: '';
  background-image: url(./images/schedule.svg);
  width: 14px;
  height: 14px;
  margin-right: 9px;
}